h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}
h6 {
  font-size: $h6;
}
small {
  font-size: $small;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: $font-lh-m;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  // line-height: $font-lh-medium;
  font-weight: $font-primary-regular;

  &.font-light {
    font-weight: $font-primary-light;
  }
  &.font-regular {
    font-weight: $font-primary-regular;
  }
  &.font-medium {
    font-weight: $font-primary-medium;
  }
  &.font-bold {
    font-weight: $font-primary-bold;
  }
}

p {
  font-family: $font-family-secondary;
  // white-space: normal;
  word-wrap: break-word;
  font-size: $p;
  line-height: $font-lh-l;

  &+p {
    margin-top: 0.8rem;
  }
}
// p {
//   font-weight: $font-secondary-regular;
// }
span {
  line-height: $font-lh-l;
}
p, span, b, i, em, s, small, .small {
  font-family: $font-family-secondary;
  &.font-light {
    font-weight: $font-secondary-light;
  }
  &.font-regular {
    font-weight: $font-secondary-regular;
  }
  &.font-medium {
    font-weight: $font-secondary-medium;
  }
  &.font-bold {
    font-weight: $font-secondary-bold;
  }
}

b,strong {
  font-weight: bold;
}

// utility
.h1 {
  font-size: $h1 !important;
}
.h2 {
  font-size: $h2 !important;
}
.h3 {
  font-size: $h3 !important;
}
.h4 {
  font-size: $h4 !important;
}
.h5 {
  font-size: $h5 !important;
}
.h6 {
  font-size: $h6 !important;
}
.p {
  font-family: $font-family-secondary;
  font-weight: $font-secondary-regular;
  font-size: $p;
  &.font-light {
    font-weight: $font-secondary-light;
  }
  &.font-regular {
    font-weight: $font-secondary-regular;
  }
  &.font-medium {
    font-weight: $font-secondary-medium;
  }
  &.font-bold {
    font-weight: $font-secondary-bold;
  }
}
.small {
  font-size: $small !important;
}
.xsmall {
  font-size: 1rem !important;
}
.xxsmall {
  font-size: 0.9rem !important;
}

.q {
  quotes: "“" "”" "‘" "’";
  line-height: 1.9;
  font-family: $font-family-primary;
  font-weight: $font-primary-regular;
  &:before {
    content: open-quote;
    line-height: 0.2;
    font-size: 4rem;
    font-family: "Times New Roman", serif;
    font-weight: 700;
    display: inline-block;
    transform: translateY(140%);
    margin-right: 0.8rem;
    font-weight: bold;
  }
  &:after {
    content: close-quote;
    line-height: 0.2;
    font-size: 4rem;
    font-family: "Times New Roman", serif;
    font-weight: $font-secondary-bold;
    display: inline-block;
    transform: translateY(140%);
    margin-left: 0.8rem;
    font-weight: bold;
  }
}
