/*Card Styles*/
//  Default styles
.card {
  border-radius: $border-radius-s;
  &__image{
    position:relative;
    overflow: hidden;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      display: block;
      // border-radius: $border-radius-m $border-radius-m 0 0;
    }
  }

  &__image--landscape {
    padding-top: $aspect-ratio-landscape;
    // border-radius: $border-radius-s $border-radius-s 0 0;
  }
  &__image--portrait {
    padding-top: $aspect-ratio-portrait;
  }
  &__image--square {
    padding-top: $aspect-ratio-square;
    // border-radius: $border-radius-l $border-radius-l;
  }
}

.card {
  &--pop {
    border: 1px solid $color-brand-tertiary;
    // box-shadow: 0 0 0 0.2rem $color-brand-primary, inset 0 0 2px 0px $color-black, 0 0px 8px -1px rgb(0 0 0 / 24%);
    // box-shadow: 0 0 0 0.2rem $color-brand-primary; //, inset 0 0 0.4rem 0px $color-black,
  }

  &--basic {
    border: 1px solid $color-border;
    background-color: $color-white;
  }
  &--clip {
    overflow: hidden;
  }
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    input {
      cursor: not-allowed !important;
    }
  }
}

.card--circle {
	padding-top: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	min-width: 40rem;
	&__content {
		position: absolute;
		margin: -4*$grid-gutter;
		left: 0;
		top:0 ;
		// width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 16%;
	}
}

// Clickable cards
.is-clickable {
  cursor: pointer;
  outline: 0;
  &.card {
    transform: scale3d(1,1,1);
    transform-origin: center center;
    transition: all 0.2s ease;

    &:hover, &:active, &:focus {
      transform: scale3d(1.02,1.02,1.02);
      transition: all 0.2s ease;
    }
    &.bg-brand-primary:hover, &.bg-brand-secondary:hover, &.bg-brand-tertiary:hover, &.bg-white:hover, &.bg-lightest:hover {
      box-shadow: 0 0 2.4rem rgba(0,0,0,0.2);
    }

    &--noscale {
      transform: scale3d(1,1,1) !important;
      &:hover {
        box-shadow: 0 0 0px 0.1rem rgba(0, 0, 0, 0.05), 0 0 6px 0rem rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
}
