.tag {
  background-color: #e5e3ff;//$bg-primary;
  border-radius: 0.4rem;
  padding: 0.4rem 1rem;
  text-transform: capitalize;
  font-family: $font-default-semibold;
  font-size: 1.1rem;
  display: inline-block;
  margin-right: 0.6rem;
}
.tag--small {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-family: $font-default-semibold;
  border-radius: 1.2rem;
}

.tag--clickable {
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;

  &:hover, &:active, &:focus {
    background-color: rgba(89,62,204,0.15);
    transition: all 0.2s ease;
  }
}
.tag-btn {
	background: transparent;
	text-decoration: underline;
  cursor: pointer;
}

.telemed__tag {
  background-color: rgba(0,0,0,0.11);
  font-weight: 400;
  padding: 1rem 1.6rem;
  color: #e0e0e0;
  cursor: pointer;
  border-radius: $border-radius-re-button;
}