.process-loader {
  background-color:rgba(255,255,255,0.76);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  visibility:visible;
  opacity:1;
  z-index: 9999;
  transition: all 0.25s ease 0.1s
}


.loader,
.loader__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  overflow: visible;
  padding-top: 2em;
  height: 0;
  width: 2em;
}

.loader__figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid black;
  border-radius: 50%;
  -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__label {
  float: left;
  margin-left: 50%;
  text-shadow:0 0 3px rgba(0,0,0,0.2);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 1.5rem 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: black;
  font-weight: bold;
  white-space: nowrap;
  -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: black;
  }
  29% {
    background-color: black;
  }
  30% {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 3rem;
    width: 3rem;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-moz-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: black;
  }
  29% {
    background-color: black;
  }
  30% {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 3rem;
    width: 3rem;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: black;
  }
  29% {
    background-color: black;
  }
  30% {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 3rem;
    width: 3rem;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@-moz-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}



.progressbar {
  width: 100%;
  height: 0.4rem;
  background-color: $color-white;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-top: 0.2rem;

  &__foreground {
    height: 100%;
    display: block;
    background-color: $color-brand-secondary;
  }
}
