@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 84%;
  }
}
@media only screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  html {
    font-size: 84%;
  }
}
@media only screen and (min-width: 1300px) {
  html {
    font-size: 84%;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-text-size-adjust: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-color: #fff;
  transition: all 0.3s ease;
  -webkit-overflow-scrolling: touch;
  color: #333;
}

a {
  text-decoration: none;
  color: #4285f4;
  cursor: pointer;
}
a:hover, a:focus, a:active {
  color: #666;
}

span {
  font-weight: inherit;
}

section + section {
  padding: 5.6rem 0 11.2rem;
}

@media only screen and (min-width: 768px) {
  section + section {
    padding: 11.2rem 0 11.2rem;
  }
}
button, .btn {
  background-color: transparent;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1;
  border-radius: 500px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  border: 2px solid transparent;
  margin: 0;
  max-height: 4.8rem;
  border: 0.22rem solid transparent;
  color: #e0e5e9;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  transition: all 0.16s ease-out;
}
button[disabled], button[disabled=disabled], button[disabled=true], .btn[disabled], .btn[disabled=disabled], .btn[disabled=true] {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  box-shadow: none;
}
button[disabled]:hover, button[disabled=disabled]:hover, button[disabled=true]:hover, .btn[disabled]:hover, .btn[disabled=disabled]:hover, .btn[disabled=true]:hover {
  cursor: not-allowed;
}

button + button {
  margin-left: 0.8rem;
}

button, a {
  outline: 0;
  cursor: pointer;
}

button:hover, button:focus, button:active, .btn:hover, .btn:focus, .btn:active {
  background-color: #fff;
  color: #191718;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.22);
  transition: all 0.2s ease;
}

label, .label {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 2;
  font-size: 1.1rem;
}

input[type=text], input[type=number], input[type=tel], input[type=password], input[type=date], input[type=search], input[type=email], input[type=datetime-local], select, .select {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  min-width: 35px;
  padding: 1rem 0.8rem 1rem 0.8rem;
  line-height: 1.4;
  background-color: rgba(255, 255, 255, 0.9);
  border-width: 2px;
  border-style: solid;
  border-radius: 0.4rem;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border-color: #999;
  outline: 0;
  -o-transition: border 0.15s ease-in;
  -ms-transition: border 0.15s ease-in;
  -moz-transition: border 0.15s ease-in;
  -webkit-transition: border 0.15s ease-in;
  transition: border 0.15s ease-in;
}
input[type=text]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=date]:focus, input[type=search]:focus, input[type=email]:focus, input[type=datetime-local]:focus, select:focus, .select:focus {
  outline: 0;
  border-color: #191718;
  box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
input[type=text][disabled], input[type=text][disabled=disabled], input[type=text][disabled=true], input[type=number][disabled], input[type=number][disabled=disabled], input[type=number][disabled=true], input[type=tel][disabled], input[type=tel][disabled=disabled], input[type=tel][disabled=true], input[type=password][disabled], input[type=password][disabled=disabled], input[type=password][disabled=true], input[type=date][disabled], input[type=date][disabled=disabled], input[type=date][disabled=true], input[type=search][disabled], input[type=search][disabled=disabled], input[type=search][disabled=true], input[type=email][disabled], input[type=email][disabled=disabled], input[type=email][disabled=true], input[type=datetime-local][disabled], input[type=datetime-local][disabled=disabled], input[type=datetime-local][disabled=true], select[disabled], select[disabled=disabled], select[disabled=true], .select[disabled], .select[disabled=disabled], .select[disabled=true] {
  color: #191718;
  background-color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
}
input[type=text]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=datetime-local]::-webkit-input-placeholder, select::-webkit-input-placeholder, .select::-webkit-input-placeholder {
  /* Edge */
  color: #666;
  font-size: 1.1rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: none;
}
input[type=text]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=datetime-local]:-ms-input-placeholder, select:-ms-input-placeholder, .select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
  font-size: 1.1rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: none;
}
input[type=text]::placeholder, input[type=number]::placeholder, input[type=tel]::placeholder, input[type=password]::placeholder, input[type=date]::placeholder, input[type=search]::placeholder, input[type=email]::placeholder, input[type=datetime-local]::placeholder, select::placeholder, .select::placeholder {
  color: #666;
  font-size: 1.1rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: none;
  transform: translateY(-0.12rem);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number], input[type=tel] {
  -moz-appearance: textfield;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

select {
  background-image: url("https://fonts.gstatic.com/s/i/materialicons/arrow_drop_down/v15/24px.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.8rem) center;
}

textarea {
  font-family: "Merriweather", "Times New Roman", serif;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  padding: 1rem 0.8rem 1rem 0.8rem;
}
textarea:focus {
  outline: 0;
  border-color: #191718;
  box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.2);
}

/*

//Base Styles


b, strong {
  font-weight: $font-bold;
}

input[type="checkbox"], input[type="radio"] {
  margin: 0;
}

input[disabled] {
  background-color: $color-disable;
  pointer-events: none;
}

input[readonly] {
  &:focus {
    outline: 0;
  }
}

a[href^=tel] { color: inherit; text-decoration: none;}

address {
  font-size: 1.1em;
  font-weight: $font-regular;
}*/
ol {
  padding-left: 1.5rem;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.6rem;
  margin-left: 0rem;
}

li {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 0.4rem;
}
li::marker {
  font-size: 1.4em;
  color: #f3d849;
}
li:first-child {
  padding-top: 0;
}

/*dl {
  margin-bottom: 1.2em;
  &:last-child{
    margin-bottom: 0;
  }
}

table {
  width: 100%;
  margin-bottom: 0.6rem;
}

th {
  text-align: left;
  font-weight: $font-semibold;
  color: $color-dark;
  padding: 0.6rem 0;
  font-size: 1.2em;
}

th, td {
  border-bottom: 1px solid $color-border;
}

small {
  font-size: 1rem;
}

td {
  font-weight: $font-regular;
   padding: 1.2rem 0;
   font-size: 1.2em;
}

tr:last-child {
  td {
    border-bottom: 0;
  }
}

video {
  display: block;
}*/
.form-container {
  display: flex;
  flex-direction: column;
}
.form-container main {
  flex: 1 0 0%;
}
.form-container main > section {
  padding-top: 6.4rem;
  padding-bottom: 9.6rem;
}
@media screen and (min-width: 640px) {
  .form-container main > section {
    padding-bottom: 2.8rem;
  }
}
.form-container footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
  box-shadow: 0 -1px 8px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 640px) {
  .form-container footer {
    position: static;
    box-shadow: none;
  }
}

.page-container {
  padding-bottom: 10rem;
}

.page-container--dashboard {
  background-color: #f9f4fb;
  min-height: 100vh;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.8rem;
  margin-left: -0.8rem;
}

.row--reverse {
  flex-direction: row-reverse;
}
.row--middle {
  align-items: center;
}
.row--nowrap {
  flex-wrap: nowrap;
}

.row--column-xs {
  flex-direction: column;
}
.row--column-xs > .column {
  width: 100%;
}
.row--grow-1 > .column:first-child {
  flex: 1 0 0%;
}
.row--grow-2 > .column:last-child {
  flex: 1 0 0%;
}

.column {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.row, .column {
  font-size: 0;
  line-height: 1;
}

.row--gutter-half {
  margin-right: -0.4rem;
  margin-left: -0.4rem;
}
.row--gutter-half > .column {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}
.row--gutter-quarter {
  margin-right: -0.2rem;
  margin-left: -0.2rem;
}
.row--gutter-quarter > .column {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

@media screen and (max-width: 320px) {
  .container {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}
.wrapper {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}
.wrapper-half {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.wrapper-l {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
.wrapper--vertical {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.wrapper--vertical-xs {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.wrapper--vertical-s {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.wrapper--vertical-m {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.wrapper--vertical-l {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.wrapper--vertical-xl {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.wrapper--vertical-xxl {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}
.wrapper--vertical-xxxl {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.wrapper--vertical-max {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}
.wrapper--content {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.wrapper--negative-h {
  margin-right: -1.6rem;
  margin-left: -1.6rem;
}

.column--xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.column--xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.column--xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.column--xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.column--xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.column--xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.column--xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.column--xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.column--xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.column--xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.column--xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.column--xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.column--xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  justify-content: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.reverse-xs {
  flex-direction: row-reverse;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 640px) {
  .row--column-s {
    flex-direction: column;
  }
  .row--column-s > .column {
    width: 100%;
  }
  .row--reset-s {
    flex-direction: row;
  }
  .row--reset-s > .column {
    width: auto;
  }

  .column--s {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .column--s-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .column--s-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .column--s-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .column--s-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .column--s-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .column--s-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .column--s-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .column--s-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .column--s-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .column--s-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .column--s-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .column--s-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .start-s {
    justify-content: flex-start;
    text-align: start;
  }

  .center-s {
    justify-content: center;
  }

  .end-s {
    justify-content: flex-end;
    text-align: end;
  }

  .top-s {
    align-items: flex-start;
  }

  .middle-s {
    align-items: center;
  }

  .bottom-s {
    align-items: flex-end;
  }

  .around-s {
    justify-content: space-around;
  }

  .between-s {
    justify-content: space-between;
  }

  .reverse-s {
    flex-direction: row-reverse;
  }

  .first-s {
    order: -1;
  }

  .last-s {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .row--column-m {
    flex-direction: column;
  }
  .row--column-m > .column {
    width: 100%;
  }
  .row--reset-m {
    flex-direction: row;
  }
  .row--reset-m > .column {
    width: auto;
  }

  .column--m {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .column--m-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .column--m-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .column--m-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .column--m-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .column--m-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .column--m-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .column--m-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .column--m-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .column--m-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .column--m-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .column--m-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .column--m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .start-m {
    justify-content: flex-start;
    text-align: start;
  }

  .center-m {
    justify-content: center;
  }

  .end-m {
    justify-content: flex-end;
    text-align: end;
  }

  .top-m {
    align-items: flex-start;
  }

  .middle-m {
    align-items: center;
  }

  .bottom-m {
    align-items: flex-end;
  }

  .around-m {
    justify-content: space-around;
  }

  .between-m {
    justify-content: space-between;
  }

  .reverse-m {
    flex-direction: row-reverse;
  }

  .first-m {
    order: -1;
  }

  .last-m {
    order: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .row--column-l {
    flex-direction: column;
  }
  .row--column-l > .column {
    width: 100%;
  }
  .row--reset-l {
    flex-direction: row;
  }
  .row--reset-l > .column {
    width: auto;
  }

  .container {
    max-width: 1366px;
  }

  .column--l {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .column--l-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .column--l-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .column--l-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .column--l-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .column--l-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .column--l-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .column--l-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .column--l-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .column--l-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .column--l-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .column--l-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .column--l-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .start-l {
    justify-content: flex-start;
    text-align: start;
  }

  .center-l {
    justify-content: center;
  }

  .end-l {
    justify-content: flex-end;
    text-align: end;
  }

  .top-l {
    align-items: flex-start;
  }

  .middle-l {
    align-items: center;
  }

  .bottom-l {
    align-items: flex-end;
  }

  .around-l {
    justify-content: space-around;
  }

  .between-l {
    justify-content: space-between;
  }

  .reverse-l {
    flex-direction: row-reverse;
  }

  .first-l {
    order: -1;
  }

  .last-l {
    order: 1;
  }
}
@media only screen and (min-width: 1170px) {
  .row--column-xl {
    flex-direction: column;
  }
  .row--column-xl > .column {
    width: 100%;
  }
  .row--reset-xl {
    flex-direction: row;
  }
  .row--reset-xl > .column {
    width: auto;
  }

  .container {
    max-width: 1366px;
  }

  .column--xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .column--xl-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .column--xl-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .column--xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .column--xl-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .column--xl-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .column--xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .column--xl-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .column--xl-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .column--xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .column--xl-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .column--xl-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .column--xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .start-xl {
    justify-content: flex-start;
    text-align: start;
  }

  .center-xl {
    justify-content: center;
  }

  .end-xl {
    justify-content: flex-end;
    text-align: end;
  }

  .top-xl {
    align-items: flex-start;
  }

  .middle-xl {
    align-items: center;
  }

  .bottom-xl {
    align-items: flex-end;
  }

  .around-xl {
    justify-content: space-around;
  }

  .between-xl {
    justify-content: space-between;
  }

  .reverse-xl {
    flex-direction: row-reverse;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.row--nogutters {
  margin-right: 0;
  margin-left: 0;
}

.row--nogutters > .column {
  padding-right: 0;
  padding-left: 0;
}

.row--vertical-gutters {
  margin-top: -0.8rem;
  margin-bottom: -0.8rem;
}

.row--vertical-gutters > .column {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.container--m {
  max-width: 1024px;
}

.container--l {
  max-width: 1170px;
}

.container--xl {
  max-width: 1366px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.3rem;
}

small {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-weight: 300;
}
h1.font-light, h2.font-light, h3.font-light, h4.font-light, h5.font-light, h6.font-light {
  font-weight: 100;
}
h1.font-regular, h2.font-regular, h3.font-regular, h4.font-regular, h5.font-regular, h6.font-regular {
  font-weight: 300;
}
h1.font-medium, h2.font-medium, h3.font-medium, h4.font-medium, h5.font-medium, h6.font-medium {
  font-weight: 400;
}
h1.font-bold, h2.font-bold, h3.font-bold, h4.font-bold, h5.font-bold, h6.font-bold {
  font-weight: 700;
}

p {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  font-size: 1.3rem;
  line-height: 1.7;
}
p + p {
  margin-top: 0.8rem;
}

span {
  line-height: 1.7;
}

p, span, b, i, em, s, small, .small {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
p.font-light, span.font-light, b.font-light, i.font-light, em.font-light, s.font-light, small.font-light, .small.font-light {
  font-weight: 100;
}
p.font-regular, span.font-regular, b.font-regular, i.font-regular, em.font-regular, s.font-regular, small.font-regular, .small.font-regular {
  font-weight: 400;
}
p.font-medium, span.font-medium, b.font-medium, i.font-medium, em.font-medium, s.font-medium, small.font-medium, .small.font-medium {
  font-weight: 600;
}
p.font-bold, span.font-bold, b.font-bold, i.font-bold, em.font-bold, s.font-bold, small.font-bold, .small.font-bold {
  font-weight: 700;
}

b, strong {
  font-weight: bold;
}

.h1 {
  font-size: 3rem !important;
}

.h2 {
  font-size: 2.8rem !important;
}

.h3 {
  font-size: 2.4rem !important;
}

.h4 {
  font-size: 1.6rem !important;
}

.h5 {
  font-size: 1.4rem !important;
}

.h6 {
  font-size: 1.3rem !important;
}

.p {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.p.font-light {
  font-weight: 100;
}
.p.font-regular {
  font-weight: 400;
}
.p.font-medium {
  font-weight: 600;
}
.p.font-bold {
  font-weight: 700;
}

.small {
  font-size: 1rem !important;
}

.xsmall {
  font-size: 1rem !important;
}

.xxsmall {
  font-size: 0.9rem !important;
}

.q {
  quotes: "“" "”" "‘" "’";
  line-height: 1.9;
  font-family: "Merriweather", "Times New Roman", serif;
  font-weight: 300;
}
.q:before {
  content: open-quote;
  line-height: 0.2;
  font-size: 4rem;
  font-family: "Times New Roman", serif;
  font-weight: 700;
  display: inline-block;
  transform: translateY(140%);
  margin-right: 0.8rem;
  font-weight: bold;
}
.q:after {
  content: close-quote;
  line-height: 0.2;
  font-size: 4rem;
  font-family: "Times New Roman", serif;
  font-weight: 700;
  display: inline-block;
  transform: translateY(140%);
  margin-left: 0.8rem;
  font-weight: bold;
}

/*
Utility styles
*/
strike, .strike {
  color: #666;
  font-weight: 100;
  font-size: 0.9em;
}

/*--------------------- Container */
.lineheight-reset {
  line-height: 1 !important;
}

.lineheight-default {
  line-height: 1.7 !important;
}

.lineheight-m {
  line-height: 1.4 !important;
}

.lineheight-l {
  line-height: 2 !important;
}

.top-reset {
  top: 0;
}

/*--------------------- Colors */
.color-brand-primary {
  color: #f3d849 !important;
}
.color-brand-secondary {
  color: #4285f4 !important;
}
.color-brand-tertiary {
  color: #191718 !important;
}
.color-dark {
  color: #191718 !important;
}
.color-darker {
  color: #333 !important;
}
.color-darkest {
  color: #191718 !important;
}
.color-light {
  color: #666 !important;
}
.color-lighter {
  color: #e0e0e0 !important;
}
.color-lightest {
  color: #e0e5e9 !important;
}
.color-black {
  color: #000 !important;
}
.color-white {
  color: #fff !important;
}
.color-success {
  color: #2E7D32;
}
.color-warning {
  color: #E6A200;
}
.color-error {
  color: #D82323;
}
.color-info {
  color: #666;
}
.color-link {
  color: #4285f4 !important;
}
.color-link:hover, .color-link:focus, .color-link:active {
  color: #666 !important;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}
.bg-white {
  background-color: #fff !important;
  color: #191718;
}
.bg-brand-primary {
  background-color: #f3d849 !important;
  color: #191718;
}
.bg-brand-primary-light {
  background-color: #FFF6CE !important;
}
.bg-brand-secondary {
  background-color: #4285f4 !important;
  color: #fff;
}
.bg-brand-secondary-light {
  background-color: #BEDBFD !important;
}
.bg-brand-tertiary {
  background-color: #191718 !important;
  color: #e0e5e9;
}
.bg-brand-tertiary .color-light {
  color: #999999 !important;
}
.bg-lightest {
  background-color: #e0e5e9 !important;
  color: #191718;
}
.bg-dark {
  background-color: #191718 !important;
}
.bg-google {
  background-color: #4285f4 !important;
  color: #fff;
}
.bg-google .icon {
  background: url(https://static.pocketpills.com/webapp/rebrand/landing/icon-social.svg) no-repeat top;
  background-size: 100% auto;
  background-color: #fff;
}
.bg-dark--90 {
  background-color: rgba(0, 0, 0, 0.92);
  color: #e0e5e9;
}
.bg-dark--80 {
  background-color: rgba(0, 0, 0, 0.8);
  color: #e0e5e9;
}
.bg-dark--70 {
  background-color: rgba(0, 0, 0, 0.7);
  color: #e0e5e9;
}
.bg-dark--60 {
  background-color: rgba(0, 0, 0, 0.6);
  color: #e0e5e9;
}
.bg-dark--50 {
  background-color: rgba(0, 0, 0, 0.5);
  color: #e0e5e9;
}
.bg-dark--10 {
  background-color: rgba(0, 0, 0, 0.05);
  color: #191718;
}
.bg-light--10 {
  background-color: rgba(255, 255, 255, 0.1);
}
.bg-light--20 {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-light--30 {
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-light--40 {
  background-color: rgba(255, 255, 255, 0.4);
}
.bg-light--50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-brand {
  background-image: url("https://static.pocketpills.com/phil/images/homepage/bg-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-brand--right {
  background-position: right center;
}
.bg-brand--left {
  background-position: left center;
}

button.bg-brand-primary {
  border-color: #f3d849;
}
button.bg-brand-primary:hover, button.bg-brand-primary:focus, button.bg-brand-primary:active {
  background-color: #f3d849 !important;
  color: #191718 !important;
}
button.bg-brand-secondary {
  border-color: #4285f4;
}
button.bg-brand-secondary:hover, button.bg-brand-secondary:focus, button.bg-brand-secondary:active {
  background-color: #4285f4 !important;
  color: #fff !important;
}
button.bg-brand-tertiary {
  border-color: #191718;
}
button.bg-brand-tertiary:hover, button.bg-brand-tertiary:focus, button.bg-brand-tertiary:active {
  background-color: #191718 !important;
  color: #fff !important;
}
button.bg-google {
  border-color: #4285f4;
}
button.bg-google:hover, button.bg-google:focus, button.bg-google:active {
  color: #fff !important;
}
button.bg-google:hover .icon, button.bg-google:focus .icon, button.bg-google:active .icon {
  background-color: #e0e5e9;
}

@media (hover: hover) and (pointer: fine) {
  button.bg-brand-primary {
    border-color: #f3d849;
  }
  button.bg-brand-primary:hover, button.bg-brand-primary:focus, button.bg-brand-primary:active {
    background-color: #191718 !important;
    color: #f3d849 !important;
  }
  button.bg-brand-secondary {
    border-color: #4285f4;
  }
  button.bg-brand-secondary:hover, button.bg-brand-secondary:focus, button.bg-brand-secondary:active {
    background-color: #191718 !important;
    color: #4285f4 !important;
  }
  button.bg-brand-tertiary {
    border-color: #191718;
  }
  button.bg-brand-tertiary:hover, button.bg-brand-tertiary:focus, button.bg-brand-tertiary:active {
    background-color: #f3d849 !important;
    color: #191718 !important;
    border-color: #ffe660 !important;
  }
  button.bg-google {
    border-color: #4285f4;
  }
  button.bg-google:hover, button.bg-google:focus, button.bg-google:active {
    background-color: #fff !important;
    color: #191718 !important;
  }
  button.bg-google:hover .icon, button.bg-google:focus .icon, button.bg-google:active .icon {
    background-color: #e0e5e9;
  }
}
.bg-brand-primary button, .bg-brand-secondary button {
  background-color: #191718;
}
.bg-brand-primary button:hover, .bg-brand-primary button:focus, .bg-brand-primary button:active, .bg-brand-secondary button:hover, .bg-brand-secondary button:focus, .bg-brand-secondary button:active {
  background-color: #fff !important;
  border-color: #fff !important;
}

/*--------------------- Float Properties */
.flt-right {
  float: right;
}

.flt-left {
  float: left;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

/*--------------------- Divider */
.divider {
  border-width: 1px;
  border-color: #e0e0e0;
}
.divider--left {
  border-left-style: solid;
}
.divider--top {
  border-top-style: solid;
}
.divider--bottom {
  border-bottom-style: solid;
}
.divider--right {
  border-right-style: solid;
}
.divider--secondary {
  border-color: #f1f1f1;
}

.divider-dashed {
  border-width: 2px;
  border-style: dashed;
  border-color: inherit;
}
.divider-dashed--left {
  border-color: transparent;
  border-left-color: inherit;
}
.divider-dashed--top {
  border-color: transparent;
  border-top-color: inherit;
}
.divider-dashed--bottom {
  border-color: transparent;
  border-bottom-color: inherit;
}
.divider-dashed--right {
  border-color: transparent;
  border-right-color: inherit;
}
.divider-dashed--secondary {
  border-color: #f1f1f1;
}

.bg-brand-primary.divider, .bg-brand-primary .divider {
  border-color: rgba(0, 0, 0, 0.1);
}

.bg-brand-secondary.divider, .bg-brand-secondary .divider, .bg-brand-tertiary.divider, .bg-brand-tertiary .divider {
  border-color: rgba(255, 255, 255, 0.1);
}

/*--------------------- Text Sizes */
/*--------------------- Font Weight */
/*---------------------Text Style */
.txt-no-wrap {
  white-space: nowrap;
}
.txt-wrap-normal {
  white-space: normal;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-capitalize {
  text-transform: capitalize !important;
}
.txt-lowercase {
  text-transform: lowercase !important;
}
.txt-defaultcase {
  text-transform: none !important;
}
.txt-first-uppercase:first-letter {
  text-transform: uppercase;
}
.txt-ellipsis {
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.txt-underline {
  text-decoration: underline;
}
.txt-italic {
  font-style: italic;
}

/*--------------------- Display properties */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.h-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

/*--------------------- List */
.list--comfortable li + li {
  padding-top: 1em;
}
.list--comfortable li {
  line-height: 1.5;
}
.list--cozy li + li {
  padding-top: 0.6em;
}
.list--compact li + li {
  padding-top: 0.3em;
}

.list--reset {
  list-style: none;
  padding-left: 0;
}

/*--------------------- Padding Reset */
.padding-reset {
  padding: 0 !important;
}
.padding-reset-l {
  padding-left: 0 !important;
}
.padding-reset-r {
  padding-right: 0 !important;
}
.padding-reset-t {
  padding-top: 0 !important;
}
.padding-reset-b {
  padding-bottom: 0 !important;
}

/*--------------------- Margin Reset */
.margin-reset {
  margin: 0 !important;
}
.margin-reset-l {
  margin-left: 0 !important;
}
.margin-reset-r {
  margin-right: 0 !important;
}
.margin-reset-t {
  margin-top: 0 !important;
}
.margin-reset-b {
  margin-bottom: 0 !important;
}

/*--------------------- Margin Top */
.margin-top-xs {
  margin-top: 0.4rem !important;
}
.margin-top-s {
  margin-top: 0.8rem !important;
}
.margin-top-m {
  margin-top: 1.2rem !important;
}
.margin-top-l {
  margin-top: 1.6rem !important;
}
.margin-top-xl {
  margin-top: 2.4rem !important;
}
.margin-top-xxl {
  margin-top: 3.2rem !important;
}
.margin-top-xxxl {
  margin-top: 6rem !important;
}

/*--------------------- Image */
.img-responsive {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.img-responsive-v {
  max-height: 100%;
  height: 100%;
  width: auto;
}

img:not([src]) {
  opacity: 0;
}

/*--------------------- Overflow */
.overflow-auto {
  overflow: auto;
}

@media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) {
  .img-responsive {
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
/*! Utilizes lazysizes - v5.2.2 for removing this class */
.lazyload {
  background-image: none !important;
}

@media only screen and (min-width: 320px) {
  .txt-right--xs {
    text-align: right;
  }

  .txt-left--xs {
    text-align: left;
  }

  .txt-center-xs {
    text-align: center;
  }
}
@media only screen and (min-width: 640px) {
  .txt-right--s {
    text-align: right;
  }

  .txt-left--s {
    text-align: left;
  }

  .txt-center-s {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .txt-right--m {
    text-align: right;
  }

  .txt-left--m {
    text-align: left;
  }

  .txt-center-m {
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .txt-right--l {
    text-align: right;
  }

  .txt-left--l {
    text-align: left;
  }

  .txt-center-l {
    text-align: center;
  }
}
.full-height {
  height: 100%;
  max-height: 100%;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 320px) {
  .show-xs {
    display: block;
  }

  .hide-xs {
    display: none;
  }
}
@media only screen and (min-width: 640px) {
  .show-s {
    display: block;
  }

  .hide-s {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .show-m {
    display: block;
  }

  .hide-m {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .show-l {
    display: block;
  }

  .hide-l {
    display: none;
  }
}
@media only screen and (min-width: 1170px) {
  .show-xl {
    display: block;
  }

  .hide-xl {
    display: none;
  }
}
.section {
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
}

.btn-inline {
  display: flex;
  align-items: center;
}

.btn__label + .icon, .icon + .btn__label {
  margin-left: 0.8rem;
}

.btn--text {
  padding: 0.8rem;
  border: 0;
  text-decoration: underline;
}
.btn--text:hover, .btn--text:active, .btn--text:focus {
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
}

.bg-brand-tertiary .btn--text, .bg-brand-secondary .btn--text {
  color: #fff;
}

.bg-white .btn--text, .bg-brand-primary .btn--text {
  color: #191718;
}

.btn--fab {
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  padding: 0.4rem;
  position: fixed;
  bottom: 2.4rem;
  right: 1.6rem;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}
.btn--fab > button {
  background-image: url(../images/darkmode.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 3rem;
  height: 3rem;
  color: #f3d849;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .btn--fab > button {
  background-position: center bottom;
}

.separator {
  padding: 1.6rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  padding: 2.4rem 0;
}
.separator:after, .separator:before {
  content: "";
  border-width: 1px;
  max-height: 2px;
  border-style: solid;
  display: block;
  opacity: 0.18;
  width: 30%;
}
.separator:before {
  content: "";
  margin-right: 0.8rem;
}
.separator:after {
  content: "";
  margin-left: 0.8rem;
}

/*--------------------- Margin Top */
.form-group + .form-group {
  margin-top: 0.8rem;
}

.form-group-s + .form-group-s {
  margin-top: 0.4rem;
}
.form-group-m + .form-group-m {
  margin-top: 1.2rem;
}
.form-group-l + .form-group-l {
  margin-top: 1.6rem;
}

.form-group[data-state] .form-group__msg {
  opacity: 0;
  margin-top: 0.3rem;
}
.form-group[data-state] .form-group__msg .icon {
  font-size: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
}
.form-group[data-state] [data-state-icon] {
  display: none;
}
.form-group[data-state=error] .form-group__msg, .form-group[data-state=success] .form-group__msg, .form-group[data-state=info] .form-group__msg, .form-group[data-state=warning] .form-group__msg {
  opacity: 1;
  color: #666;
}
.form-group[data-state=error] .form-group__msg {
  color: #D82323;
}
.form-group[data-state=error] [data-state-icon=error] {
  display: block;
}
.form-group[data-state=success] .form-group__msg {
  color: #2E7D32;
}
.form-group[data-state=success] [data-state-icon=success] {
  display: block;
}
.form-group[data-state=info] .form-group__msg {
  color: #666;
}
.form-group[data-state=info] [data-state-icon=info] {
  display: block;
}
.form-group[data-state=warning] .form-group__msg {
  color: #E6A200;
}
.form-group[data-state=warning] [data-state-icon=warning] {
  display: block;
}

.form-inline .form-inline__action, .form-inline .form-inline__suffix, .form-inline .form-inline__prefix {
  display: flex;
  align-items: center;
}
.form-inline .form-inline__action {
  cursor: pointer;
}
.form-inline--right .form-inline__action, .form-inline--right .form-inline__suffix {
  transform: translateX(-100%);
}
.form-inline--right input[type=text], .form-inline--right input[type=tel], .form-inline--right input[type=number] {
  padding-right: 4rem;
}
.form-inline--left .form-inline__action, .form-inline--left .form-inline__prefix {
  transform: translateX(100%);
}
.form-inline--left .form-inline__action > .icon, .form-inline--left .form-inline__prefix > .icon {
  margin-top: 1px;
}
.form-inline--left input[type=text], .form-inline--left input[type=tel], .form-inline--left input[type=number] {
  padding-left: 4.2rem;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.56rem 1.2rem;
  border-radius: 1.6rem;
  font-size: 1rem;
  line-height: 1;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.tag + .tag {
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
}

.list--secondary li::marker {
  color: #4285f4;
}

.list--tertiary li::marker {
  color: #191718;
}

.list--white li::marker {
  color: #fff;
}

.pull-right--xs {
  margin-right: -0.4rem;
}
.pull-right--s {
  margin-right: -0.8rem;
}
.pull-right--m {
  margin-right: -1.2rem;
}
.pull-right--l {
  margin-right: -1.6rem;
}
.pull-left--xs {
  margin-left: -0.4rem;
}
.pull-left--s {
  margin-left: -0.8rem;
}
.pull-left--m {
  margin-left: -1.2rem;
}
.pull-left--l {
  margin-left: -1.6rem;
}

.input-suggestion {
  position: relative;
}
.input-suggestion__list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border-radius: 0 0 0.8rem 0.8rem;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 30vh;
  overflow: auto;
}
.heading-style-bbottom:after {
  content: "";
  display: block;
  width: 3.2rem;
  height: 2px;
  background: #f3d849;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0.8rem);
  box-shadow: 0px 0px 0 1px #efd12f;
  border: 0;
}

.layout-2-col {
  padding: 2.4rem 0;
}
.layout-2-col .img-container {
  margin-left: -1.6rem;
  margin-right: -1.6rem;
  overflow: hidden;
  border-radius: 0 3.6rem 3.6rem 0;
  transform: translateX(-1.6rem);
}

.layout-2-col div[class*=reverse-] .img-container {
  border-radius: 3.6rem 0 0 3.6rem;
  transform: translateX(1.6rem);
}

@media only screen and (min-width: 1024px) {
  .layout-2-col {
    padding: 3rem 0;
  }
  .layout-2-col .container {
    position: relative;
    max-width: 1920px;
  }
  .layout-2-col .img-container {
    margin-left: -1.6rem;
    margin-right: 0;
    transform: none;
  }
  .layout-2-col .img-container img {
    height: auto;
    max-height: 100%;
    width: auto;
  }

  .layout-2-col div[class*=reverse-] .img-container {
    margin-left: 0;
    margin-right: -1.6rem;
    transform: none;
  }
}
.flip-img {
  transform: scaleX(-1);
}

.cursor-pointer {
  cursor: pointer;
}

#day-light-toggle {
  color: #f3d849 !important;
}
#day-light-toggle .material-icons {
  opacity: 1;
}
#day-light-toggle:hover, #day-light-toggle:active, #day-light-toggle:focus {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
#day-light-toggle:hover .material-icons, #day-light-toggle:active .material-icons, #day-light-toggle:focus .material-icons {
  opacity: 1;
}

.dark-icons img:last-child {
  display: none;
}
.dark-icons img:first-child {
  display: inline-block;
}

.dark {
  background-color: #191718;
  color: #bfbfbf;
  transition: all 0.3s ease;
}
.dark #day-light-toggle {
  color: #e0e5e9 !important;
}
.dark #day-light-toggle .material-icons {
  opacity: 0.8;
}
.dark .bg-light, .dark .bg-lightest, .dark [class*=bg-dark--] {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #e0e5e9 !important;
}
.dark button, .dark .btn {
  background-color: rgba(255, 255, 255, 0.1);
}
.dark button:hover, .dark button:focus, .dark button:active, .dark .btn:hover, .dark .btn:focus, .dark .btn:active {
  background-color: #f3d849;
  color: #191718;
}
.dark .hero {
  color: #191718;
}
.dark .dark-icons img:last-child {
  display: inline-block;
}
.dark .dark-icons img:first-child {
  display: none;
}
.dark .color-light {
  color: #999999 !important;
}

@media screen and (max-width: 1024px) {
  .faq {
    background-image: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
